<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Supervisión</title>
  <link rel="stylesheet" href="../static/AdminReporteHerramienta.css">
</head>

<body>
  <header class="topbar">
    <div class="logo">
      <img src="../media/image 8.png" alt="logo">
    </div>
    <span class="title">PANEL SUPERVISIÓN</span>
    <div class="user-area">
      <span>Nombre de administrador</span>
      <span class="icon"><img src="../media/Notificacion.png" alt=""></span>
      <span class="icon"><img src="../media/User.png" alt=""></span>
    </div>
  </header>

  <div class="container">
    <aside class="sidebar">

      <nav class="menu">
        <a href="AdminReportes.html">DEVOLUCIONES</a>
        <a href="../">GESTIÓN INCIDENCIAS</a>
        <a href="../Templates/AdminAlquiler.html">ALQUILERES</a>
        <a href="../Templates/AdminPanel.html">PANEL DE CONTROL</a>


      </nav>
    </aside>

    <main class="main">
      <section class="content">
        <input type="text" placeholder="buscar" class="search" />

        <div class="card">
          <p><strong>herramienta</strong></p>
          <p>veces alquilada</p>
          <p>veces usada</p>
          <p>rentabilidad</p>
        </div>
      </section>
    </main>
  </div>

  <footer class="footer">
    <p>&copy; 2025 Constructora MSF</p>
  </footer>
</body>

</html>