<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler MSF - Facturacion</title>
    <link rel="shortcut icon" href="../media/image 8.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/FacturacionPagos.css" />
    <link rel="shortcut icon" href="../media/image 8.png" type="image/x-icon">
</head>

<body>
    <header class="links">
        <img src="../media/image 8.png" alt="Logo" class="logo" />
        <nav>
            <ul>
                <li><a href="Catalogo.html">MIS HERRAMIENTAS</a></li>
                <li><a href="./ReservasDevoluciones.html">RESERVAS</a></li>
                <li><a href="Inventario.html" class="Active">FACTURACION</a></li>
            </ul>
        </nav>
        <div class="buttons">
            <button class="notificacion_button" onclick="Mostrar_Notificaciones()"><img src="../media/Notificacion.png"
                    alt="Notificacion" class="notificacion" /></button>
            <button class="Usuario_button"><a href="Login.html"><img src="../media/User.png" alt="Usuario"
                        class="usuario" /></a></button>
        </div>
    </header>

    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="nav-menu" id="navMenu">
        <button class="notificacion_button" onclick="Mostrar_Notificaciones()"><img src="../media/Notificacion.png"
                alt="Notificacion" class="notificacion" /></button>
        <button class="Usuario_button"><a href="Login.html"><img src="../media/User.png" alt="Usuario"
                    class="usuario" /></a></button>
    </ul>

    <div id="Mensajes">
        <p>Notificaciones pendientes...</p>
    </div>

    <div class="main">
        <aside>
            <a href="../Templates/FacturacionSolicitudes.html">SOLICITUDES</a>
            <a href="../Templates/FacturacionDevoluciones.html">DEVOLUCIONES</a>
            <a href="../Templates/FacturacionPagos.html" class="activo">PAGOS</a>
        </aside>

        <section class="contenido">
            <div class="filtros">
                <button onclick="filtrarPorNombre()">Filtrar por ID: <input type="text" id="filtroID"
                    placeholder="Buscar factura por ID" onkeydown="verificarEnter(event)" /></button>

                <button onclick="filtrarTabla()">Mostrar facturas</button>

            </div>
            <div class="tabla">
                <h2 class="titulo-factura">FACTURA</h2>
                <table class="tabla-factura">
                    <thead>
                        <tr>
                            <th>Alquiler MSF<br><small>Calle 12 # 4-50</small></th>
                            <th>Armenia<br><small>Quindío</small></th>
                        </tr>
                        <tr class="encabezado-detalles">
                            <th>PRODUCTOS</th>
                            <th>DETALLES</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Martillo</td>
                            <td>Lorem ipsum dolor sit</td>
                            <td>1</td>
                            <td>$ 5.00</td>
                            <td>$ 5.00</td>
                        </tr>
                        <tr>
                            <td>Martillo</td>
                            <td>Lorem ipsum dolor sit</td>
                            <td>2</td>
                            <td>$ 5.00</td>
                            <td>$ 10.00</td>
                        </tr>
                        <tr>
                            <td>Martillo</td>
                            <td>Lorem ipsum dolor sit</td>
                            <td>3</td>
                            <td>$ 5.00</td>
                            <td>$ 15.00</td>
                        </tr>
                        <tr>
                            <td>Martillo</td>
                            <td>Lorem ipsum dolor sit</td>
                            <td>4</td>
                            <td>$ 5.00</td>
                            <td>$ 20.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total a pagar</td>
                            <td>IVA 21%</td>
                            <td id="subtotal">Subtotal $ 50.00</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td id="totalFinal"><strong>$ 60.5</strong></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <div class="donwload">
                <button class="btn btn-primary" onclick="DescargarFactura()">Descargar</button>
            </div>
        </section>
    </div>

    <footer>
        <div class="footer">
            <div class="footer_info">
                <p>&copy; 2025 Constructora MSF</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="../static/FacturacionPagos.js"></script>

</html>