<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler MSF - Inventario</title>
    <link rel="stylesheet" href="../static/Inventario.css">
    <link rel="shortcut icon" href="../media/image 8.png" type="image/x-icon">
</head>

<body>
    <header class="links">
        <img src="../media/image 8.png" alt="Logo" class="logo" />
        <nav>
            <ul>
                <li><a href="./Catalogo.html" class="Active">MIS HERRAMIENTAS</a></li>
                <li><a href="./ReservasDevoluciones.html">RESERVAS</a></li>
                <li><a href="./FacturacionSolicitudes.html">FACTURACION</a></li>
            </ul>
        </nav>
        <div class="buttons">
            <button class="notificacion_button" onclick="Mostrar_Notificaciones()"><img src="../media/Notificacion.png"
                    alt="Notificacion" class="notificacion" /></button>
            <button class="Usuario_button"><a href="Login.html"><img src="../media/User.png" alt="Usuario"
                        class="usuario" /></a></button>
        </div>
    </header>

    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="nav-menu" id="navMenu">
        <button class="notificacion_button" onclick="Mostrar_Notificaciones()"><img src="../media/Notificacion.png"
                alt="Notificacion" class="notificacion" /></button>
        <button class="Usuario_button"><a href="Login.html"><img src="../media/User.png" alt="Usuario"
                    class="usuario" /></a></button>
    </ul>

    <div id="Mensajes">
        <p>Notificaciones pendientes...</p>
    </div>

    <div class="MenuVertical">
        <a href="Inventario.html" class="Active_menu">INVENTARIO</a>
        <a href="Herramientas.html">AÑADIR HERRAMIENTA</a>
    </div>

    <div class="container_principal">
        <input type="text" id="searchInput" placeholder="Buscar" onkeyup="filterTools()">
        <div class="tool_card">
            <div class="Tool_Imagen">
                <img src="../media/Martillo.png" alt="Imagen herramienta" class="default_image">
            </div>
            <div class="Detalles_Herramientas">
                <span class="Tool_Name">Nombre herramienta: </span>
                <span class="Tool_Num">Cantidad en inventario: </span>
                <span class="Tool_Available">Disponibilidad: </span>
                <span class="Tool_State">Estado: </span>
            </div>
        </div>

        <div class="tool_card">
            <div class="Tool_Imagen">
                <img src="../media/Martillo.png" alt="Imagen herramienta" class="default_image">
            </div>
            <div class="Detalles_Herramientas">
                <span class="Tool_Name">Nombre herramienta: </span>
                <span class="Tool_Num">Cantidad en inventario: </span>
                <span class="Tool_Available">Disponibilidad: </span>
                <span class="Tool_State">Estado: </span>
            </div>
        </div>
        <div class="tool_card">
            <div class="Tool_Imagen">
                <img src="../media/Martillo.png" alt="Imagen herramienta" class="default_image">
            </div>
            <div class="Detalles_Herramientas">
                <span class="Tool_Name">Nombre herramienta: </span>
                <span class="Tool_Num">Cantidad en inventario: </span>
                <span class="Tool_Available">Disponibilidad: </span>
                <span class="Tool_State">Estado: </span>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <div class="footer_info">
                <p>&copy; 2025 Constructora MSF</p>
            </div>
        </div>
    </footer>
</body>
<script src="../static/Inventario.js"></script>

</html>