<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Constructora MSF - Inicia sesión</title>
    <link rel="shortcut icon" href="../media/image 8.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/Login.css" />
</head>
<body>
    <div class="Container_info">
        <img src="../media/Login.png" alt="Imagen_login" class="Imagen_login" />

        <div class="iniciarSesion">
            <div class="Formulario">
                <h1>Inicia sesión</h1>
                <form id="loginForm">
                    <label for="username" class="user">Usuario</label>
                    <input type="text" id="username" name="username" required />

                    <label for="password" class="password">Contraseña</label>
                    <div class="password_field">
                        <input type="password" id="password" name="password" required />
                        <button type="button" class="ocultar_password" onclick="togglePasswordVisibility()">
                            <img src="../media/invisible 3.png" alt="Ojito" class="password_visible" />
                        </button>
                    </div>

                    <button type="submit" class="button">ENTRAR</button>
                    <button type="button" class="button">
                        <a href="../Registro/Registro.html">REGISTRAR</a></button>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
document.getElementById('loginForm').addEventListener('submit', async function(event) {
    event.preventDefault(); // Evita que recargue la página

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    try {
        const response = await fetch('http://localhost:8080/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        });

        if (!response.ok) {
            alert("Usuario o contraseña incorrectos.");
            return;
        }

        const data = await response.json();
        localStorage.setItem('token', data.token); // Guarda el token JWT

        // Redirige a la página protegida
        window.location.href = "../Templates/Catalogo.html";
    } catch (error) {
        console.error('Error al iniciar sesión:', error);
        alert('Ocurrió un error al iniciar sesión.');
    }
});
</script>
</html>