<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Constructora MSF - Inicia sesión</title>
    <link rel="shortcut icon" href="../media/image 8.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/Login.css" />
</head>
<body>
    <div class="Container_info">
        <img src="../media/Login.png" alt="Imagen_login" class="Imagen_login" />

        <div class="iniciarSesion">
            <div class="Formulario">
                <h1>Inicia sesión</h1>
                <form action="" method="POST">
                    <label for="username" class="user">Usuario</label>
                    <input type="text" id="username" name="username" required />

                    <label for="password" class="password">Contraseña</label>
                    <div class="password_field">
                        <input type="password" id="password" name="password" required />
                        <button type="button" class="ocultar_password" onclick="togglePasswordVisibility()">
                            <img src="../media/invisible 3.png" alt="Ojito" class="password_visible" />
                        </button>
                    </div>

                    <button type="submit" class="button"><a href="../Catalogo/Catalogo.html">ENTRAR</a></button>
                    <button type="button" class="button">
                        <a href="../Registro/Registro.html">REGISTRAR</a></button>
                    </form>
            </div>
        </div>
    </div>
</body>
<script src="./Password.js"></script>
</html>