<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alquiler MSF - Registro</title>
  <link rel="shortcut icon" href="../media/image 8.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/Registro.css" />
</head>

<body>
  <div class="container">
    <div class="form-section">
      <form>
        <h2>Registrarse</h2>
        <div class="input-group">
          <input type="text" placeholder="Nombre" required />
          <input type="text" placeholder="Apellido" required />
        </div>
        <input type="email" placeholder="Correo" required />
        <input type="email" placeholder="Confirmar Correo" required />

        <div class="password_field">
          <input type="password" id="password" name="password" placeholder="Contraseña" required />
          <button type="button" class="ocultar_password" onclick="togglePasswordVisibility()">
            <img src="../media/invisible 3.png" alt="Ojito" class="password_visible" />
          </button>
        </div>

        <div class="password_field">
          <input type="password" id="password2" name="password2" placeholder="Confirmar Contraseña" required />
          <button type="button" class="ocultar_password" onclick="togglePasswordVisibility2()">
            <img src="../media/invisible 3.png" alt="Ojito" class="password_visible" />
          </button>
        </div>

        <label class="terms">
          <input type="checkbox" required />
          Aceptar términos y condiciones
        </label>
        <button type="submit" class="Login"><a href="Login.html">Iniciar Sesión</a></button>
      </form>
    </div>
    <div class="welcome-section">
      <div class="contimg"><img class="imgregistro" src="../media/img2-Photoroom.png" alt=""></div>
      <h1>BIENVENIDO A<br /><span>ALQUILER MSF</span></h1>
      <p>Accede a tu cuenta para alquilar maquinaria o herramientas para la construcción</p>
    </div>
  </div>
</body>
<script src="../static/RegistroVerificacion.js"></script>

</html>